<% content_for :title, @entry.name %>

<div class="w-full">
  <%= render partial: "shared/notice", locals: { notice: notice } %>

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Directory", manage_directory_path]
    ],
    text: @entry.name,
    links: []
  } %>

  <% if @entry.is_a?(Person) %>
    <%= render "manage/directory/person_details", person: @entry, shows: @shows, availabilities: @availabilities, edit_mode: @edit_mode %>
  <% else %>
    <%= render "manage/directory/group_details", group: @entry, shows: @shows, availabilities: @availabilities, edit_mode: @edit_mode %>
  <% end %>
</div>
