<h1>You've been invited to join CocoScout</h1>
<p>To get started, please click the link below to create your password:</p>
<p><%= link_to "Set your password", set_password_url(token: @token), target: "_blank", class: "text-pink-500" %></p>
<p>If you didn't expect this invitation, you can safely ignore this email.</p>
