<h1>Reset your CocoScout password</h1>
<p>To reset your password, please click the following link:</p>
<p><%= link_to "Reset password", reset_url(token: @token), target: "_blank", class: "text-pink-500" %></p>
