<h1>Reset your CocoScout password</h1>
<p>To reset your password, please click the following link:</p>
<p><a href="<%= reset_url(token: @token) %>" target="_blank" class="text-pink-500">Reset password</a></p>
