<h1>Welcome to CocoScout</h1>
<p>
    Your account has been created successfully.
    In order to sign in you will need to reset your password.
    Click <%= link_to "here", signin_url, target: "_blank", class: "text-pink-500" %> to go to the sign in page,
    then click "Forgot your Password?" and follow the instructions to set a new password.
</p>
