<h1>Welcome to CocoScout</h1>
<p>
    Your account has been created successfully. You can now
    <%= link_to "sign in and start using CocoScout", signin_url, target: "_blank", class: "text-pink-500" %>.
</p>
