<h1>Welcome to CocoScout</h1>
<p>Your account has been created successfully. You can now <a href="https://www.cocoscout.com/my" target="_blank" class="text-pink-500">sign in and start using CocoScout</a>.</p>
