<% content_for :title, "New Content Template - Superadmin" %>

<div class="w-full px-5 pt-5">
  <%= render partial: "shared/notice", locals: { notice: notice } %>

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
        ["Superadmin", superadmin_path],
        ["Content Templates", content_templates_path]
    ],
    text: "New Content Template",
    links: []
  } %>

  <div class="mt-4">
    <%= render partial: "superadmin/content_template_form", locals: { template: @template, categories: @categories } %>
  </div>
</div>
