<h1 style="border-bottom: 2px solid #ec4899; padding-bottom: 15px;">Availability Request</h1>

<div>
  <%= simple_format(@message, {}, sanitize: false) %>
</div>

<div style="border-top: 1px solid #e5e7eb; padding-top: 20px; margin-top: 25px; font-size: 14px; color: #6b7280;">
  Thanks!<br>
  <%= @production.name %>
</div>
