<p>Hi <%= @person.name %>,</p>

<p><%= simple_format(@message) %></p>

<p>
  <%= link_to "Update Your Availability", manage_production_availability_url(@production), class: "button" %>
</p>

<p>Thanks!</p>
