<% if request.xhr? %>
  <%= render "manage/audition_sessions/session_form", audition_session: @audition_session %>
<% else %>
  <% content_for :title, "Edit Audition Session" %>

  <div class="w-full">
    <%= render partial: "shared/notice", locals: { notice: notice } %>
    <%= render partial: "shared/top_menu", locals: {
      breadcrumbs: [
        ["Auditions", manage_production_auditions_path(@production)],
        ["In-person Sessions", manage_production_audition_sessions_path(@production)]
      ],
      text: @audition_session.start_at.strftime("%-m/%-d/%Y at %-l:%M %p"),
      links: []
    } %>

    <%= render "manage/audition_sessions/session_form", audition_session: @audition_session %>
  </div>
<% end %>
</div>
