<% if request.xhr? %>
  <%= render "manage/audition_sessions/session_form", audition_session: @audition_session %>
<% else %>
  <% content_for :title, "Schedule an In-person Session" %>

  <div class="w-full">
    <%= render partial: "shared/notice", locals: { notice: notice } %>
    <%= render partial: "shared/top_menu", locals: {
      breadcrumbs: [
        ["Sign-ups", manage_production_signups_path(@production)],
        ["Auditions", manage_production_signups_auditions_path(@production)],
        ["In-person Sessions", manage_production_signups_auditions_cycle_sessions_path(@production, @audition_cycle)]
      ],
      text: "Schedule an In-person Session",
      links: []
    } %>

    <%= render "manage/audition_sessions/session_form", audition_session: @audition_session %>
  </div>
<% end %>
