<% if @custom_message.present? %>
  <%= simple_format(auto_link(@custom_message, html: { target: '_blank' }), {}, sanitize: false) %>
  <p style="margin-top: 20px;">
    <%= link_to "Set your password", manage_accept_person_invitations_url(token: @token), target: "_blank", style: "display: inline-block; padding: 10px 20px; background-color: #ec4899; color: white; text-decoration: none; border-radius: 5px; font-weight: 500;" %>
  </p>
<% else %>
  <h1>Welcome to CocoScout</h1>
  <p><%= @organization.name %> is using CocoScout to manage its productions, auditions, and casting.</p>
  <p>To get started, please click the link below to set a password:</p>
  <p><%= link_to "Set your password", manage_accept_person_invitations_url(token: @token), target: "_blank", style: "display: inline-block; padding: 10px 20px; background-color: #ec4899; color: white; text-decoration: none; border-radius: 5px; font-weight: 500;" %></p>
<% end %>