
<div class="flex flex-col items-center mt-10">
    <img src="<%= asset_path('cocoscout.png') %>" alt="CocoScout" class="w-48 object-contain select-none pointer-events-none" />
</div>
<div class="max-w-lg mx-auto p-6 bg-white rounded shadow">
    <h1 class="text-xl font-bold mb-4 text-center">Select a Production Company</h1>
    <% if @production_companies.any? %>
        <ul class="space-y-2">
            <% @production_companies.each do |company| %>
                <li class="flex items-center justify-between p-3 border rounded-lg hover:bg-pink-50">
                    <span><%= company.name %></span>
                    <%= button_to "Select", set_current_production_companies_path(id: company.id), method: :post, class: "px-3 py-1 rounded-lg bg-pink-500 text-white font-bold hover:bg-pink-600 cursor-pointer" %>
                </li>
            <% end %>
        </ul>
    <% else %>
        <div class="text-gray-500">You have no production companies. <%= link_to "Create one", new_production_company_path, class: "text-pink-500 underline" %></div>
    <% end %>
</div>
<div class="flex flex-col items-center mt-10">
    <h1 class="p-5 pb-3 text-3xl coustard-regular text-pink-500">CocoScout</h1>
</div>
