<%# Shared people search results grid, using a configurable partial for each person %>
<% if people.any? %>
  <div class="grid grid-cols-4 sm:grid-cols-8 lg:grid-cols-12 gap-1 w-full mt-4">
    <% people.each do |person| %>
      <%= render partial: result_partial, locals: result_locals.merge(person: person) %>
    <% end %>
  </div>
<% else %>
  <div class="text-left text-gray-500 text-sm">No people found.</div>
<% end %>
