<%= render partial: "shared/top_menu", locals: {
  breadcrumbs: [
    ["Money", manage_money_index_path],
    ["Financials", manage_money_financials_path],
    [@production.name, manage_money_production_financials_path(@production)],
    ["Expenses", manage_money_financials_production_expenses_path(@production)]
  ],
  text: "New Expense",
  links: []
} %>

<div class="max-w-2xl mx-auto px-4 py-8">
  <%= render "form" %>
</div>
