<% content_for :title, "New Payout Scheme" %>

<div class="w-full mb-10">
  <%= render partial: "shared/notice", locals: { notice: notice, alert: alert } %>
  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Money", manage_money_index_path],
      ["Payout Schemes", manage_money_payout_schemes_path]
    ],
    text: "New Payout Scheme",
    links: []
  } %>

  <%= render "form", payout_scheme: @payout_scheme %>
</div>
