<% content_for :title, "New Payout Scheme - #{@production.name}" %>

<div class="w-full mb-10">
  <%= render partial: "shared/notice", locals: { notice: notice, alert: alert } %>
  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Money", manage_production_money_index_path(@production)],
      ["Payout Schemes", manage_production_money_payout_schemes_path(@production)]
    ],
    text: "New Payout Scheme",
    links: []
  } %>

  <%= render "form", payout_scheme: @payout_scheme %>
</div>
