<% content_for :title, "Edit document" %>

<div class="w-full">
  <%= render partial: "shared/notice", locals: { notice: notice, alert: alert } %>
  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      [@production.name, edit_manage_production_path(@production)],
      [ "Documents", manage_production_documents_path(@production) ]
    ],
    text: @document.title.presence || "Untitled document",
    links: []
  } %>

  <%= render "form" %>

  <%= render "sharing_modal", document: @document, production: @production,
        talent_pool_options: @talent_pool_options, candidate_people: @candidate_people %>
</div>
