default: &default
  dispatchers:
    - polling_interval: 1
      batch_size: 500
  workers:
    - queues: "*"
      threads: 3
      processes: <%= ENV.fetch("JOB_CONCURRENCY", 1) %>
      polling_interval: 0.1

development:
  <<: *default
  workers:
    - queues: "*"
      threads: 3
      processes: 1  # Single process to avoid fork issues on macOS
      polling_interval: 0.1

test:
  <<: *default

production:
  <<: *default
