<% answers.each do |answer| %>
    <div class="p-2 border border-gray-200 rounded-lg hover:border-gray-400 transition-all mt-2">
        <div class="text-md"><%= answer.question.text %></div>
        <div class="text-md font-medium">
            <%= render_question_answer(answer) %>
        </div>
    </div>
<% end %>