<% content_for :title, "Audition Requests" %>
<div class="w-full">
  <%= render partial: "shared/notice", locals: { notice: notice } %>
  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Auditions", manage_production_auditions_path(@production)],
      [(@audition_cycle.video_only? ? "Video Auditions" : "Audition Requests"), manage_production_audition_cycle_audition_requests_path(@production, @audition_cycle)]
    ],
    text: "Manually Create an Audition Request",
    links: []
  } %>


  <%= link_to "Back", "javascript:history.back()", class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-lg px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
