<% content_for :title, "New Listing" %>

<div class="w-full mb-10">
  <%= render partial: "shared/notice", locals: { notice: notice, alert: alert } %>
  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Ticketing", manage_ticketing_index_path],
      [@production.name, manage_production_show_ticketings_path(@production)],
      [@show.display_name, manage_show_ticketing_path(@production, @show)]
    ],
    text: "New Listing",
    links: []
  } %>

  <div class="max-w-3xl">
    <%= render "form", listing: @listing %>
  </div>
</div>
