<% content_for :title, "New Contractor" %>

<div class="w-full mb-10">
  <%= render partial: "shared/notice", locals: { notice: notice, alert: alert } %>

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Money", manage_money_index_path],
      ["Contractors", manage_contractors_path]
    ],
    text: "New Contractor",
    links: []
  } %>

  <div class="max-w-2xl">
    <%= render "form", contractor: @contractor %>
  </div>
</div>
