<header class="hidden lg:flex fixed top-0 left-56 right-0 h-16 bg-white border-b border-gray-200 items-stretch justify-between z-50">
  <div class="flex items-stretch">
  </div>

  <%= render "shared/navigation/user_dropdown" %>
</header>
