<% content_for :title, "Shows" %>

<div class="w-full">
  <%= render partial: "shared/notice", locals: { notice: notice } %>
  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [],
    text: "Shows & Events",
    links: [
      {
        text: "Calendar",
        path: calendar_manage_production_shows_path(@production, filter: @filter),
        icon: "calendar"
      },
      { text: "Schedule Shows & Events", path: new_manage_production_show_path(@production)}
    ]
  } %>

  <%= render "shared/filters/filter_bar", filter_groups: [
    {
      label: "View",
      filters: [
        { text: "Upcoming", path: manage_production_shows_path(@production, filter: "upcoming", event_type: @event_type_filter.join(",")), active: @filter == "upcoming" },
        { text: "Past", path: manage_production_shows_path(@production, filter: "past", event_type: @event_type_filter.join(",")), active: @filter == "past" }
      ]
    },
    { separator: true },
    {
      partial: "shared/filters/event_type_filter",
      locals: {
        path_helper: ->(event_type:, entity:, filter:) { manage_production_shows_path(@production, event_type: event_type, filter: filter) },
        event_type_filter: @event_type_filter,
        entity_filter: [],
        filter: @filter
      }
    }
  ] %>

  <% if @shows.any? %>
    <div class="space-y-1" data-controller="linked-highlight">
      <% @shows.each do |show| %>
        <%= render partial: "shared/show_row", locals: {
          show: show,
          link_path: manage_production_show_path(@production, show),
          show_canceled: true,
          show_recurring: true,
          show_linked: true,
          show_location: true
        } %>
      <% end %>
    </div>
  <% else %>
    <div class="text-sm text-gray-500">
      You haven't scheduled any shows or events.
    </div>
  <% end %>

</div>
