<%# This is the default person grid item that shows if you don't create a custom one %>

<div class="flex flex-col items-center p-3 border border-gray-200 rounded-lg hover:border-gray-400 transition-all">
  <% headshot_variant = person.safe_headshot_variant(:thumb) %>
  <% if headshot_variant %>
    <%= image_tag headshot_variant, alt: person.name, class: "w-12 h-12 rounded-lg object-cover mb-1" %>
  <% else %>
    <div class="w-12 h-12 rounded-lg bg-gray-300 flex items-center justify-center mb-1 text-white font-bold">
      <%= person.initials %>
    </div>
  <% end %>
  <span class="font-medium text-xs text-center"><%= person.name.truncate(20, omission: '...') %></span>
</div>