<% content_for :title, "Add a Location" %>

<div class="w-full">

  <%= render partial: "shared/notice", locals: { notice: notice } %>

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Locations", manage_locations_path]
    ],
    text: @location.name,
    links: []
  } %>

  <%= render "form", location: @location %>
</div>
