<% production = audition.audition_request.call_to_audition.production %>

<div class="p-4 border border-gray-200 rounded-lg hover:border-gray-400 transition-all flex flex-col sm:flex-row sm:items-center gap-4">
    <% logo_variant = production.safe_logo_variant(:small) %>
    <% if logo_variant %>
        <div class="w-full sm:w-auto sm:flex-shrink-0">
            <%= image_tag logo_variant, alt: "#{production.name} logo", class: "w-full sm:w-[100px] object-contain rounded" %>
        </div>
    <% end %>
    <div class="w-full sm:w-auto text-left">
        <div class="font-bold text-lg sm:text-xl"><%= production.name %></div>
        <div class="text-sm text-gray-500 mt-1">
            <%= audition.audition_session.start_at.strftime('%b %d, %Y') %> at <%= audition.audition_session.start_at.strftime('%l:%M %p') %>
        </div>
    </div>
</div>