<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Coustard:wght@400;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <style>
      .coustard-regular {
        font-family: "Coustard", serif;
        font-weight: 400;
        font-style: normal;
      }
      .inter-regular {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
      }
      .text-slate-700 {
        color: oklch(37.2% .044 257.287);
      }
      .bg-[#f9f9f7] {
          background-color: #f9f9f7;
      }
      .bg-pink-500 {
        background-color: oklch(65.6% .241 354.308);
      }
      .text-pink-500 {
        color: oklch(65.6% .241 354.308);
      }
      .text-3xl {
        font-size: 1.875rem;
        line-height: 2.25rem;
      }
    </style>
  </head>

  <body class="inter-regular">
    <div class="">
      <main class="">
        <%= yield %>
        <a href="https://www.cocoscout.com" class="text-3xl coustard-regular text-pink-500" style="padding-top: 1.25rem; text-decoration: none;">CocoScout</a>
      </main>
    </div>
  </body>
</html>
